.VitalsSummaryChart {
  font-family: Libre Franklin, sans-serif;
  font-weight: 500;
  letter-spacing: -0.01em;
  height: 100%;
  width: 70%;

  .background-graphics {
    .axis.axis-tick-lines {
      stroke: none;
    }
    .left.tick-line {
      stroke: rgba(53, 83, 98, 0.2);
      stroke-width: 1px;
    }
  }

  .data-visualization {
    .axis-baseline.y {
      stroke: none;
    }

    .axis-label {
      fill: rgba(53, 83, 98, 0.8);
    }
  }

  .foreground-graphics {
    transform: translate(0, 1.5rem);

    .ordinal-labels {
      fill: rgba(53, 83, 98, 0.8);
    }
  }
}
