@import "../CoreConstants.scss";

.VitalsSummaryChart {
  font-family: Libre Franklin, sans-serif;
  font-weight: 500;
  height: 100%;
  letter-spacing: -0.01em;
  padding: 20px 0;
  width: 100%;

  .background-graphics {
    .axis.axis-tick-lines {
      stroke: none;
    }
    .left.tick-line {
      stroke: $slate-20;
      stroke-width: 1px;
    }
  }

  .data-visualization {
    .axis-baseline.y {
      stroke: none;
    }

    .axis-label {
      fill: $slate-80;
    }
  }

  .foreground-graphics {
    transform: translate(0, 1.5rem);

    .ordinal-labels {
      fill: $slate-80;
    }
  }
}
