@import "../CoreConstants.scss";
@import "../controls/mixins.scss";

.VitalsSummaryChart {
  font-family: $sans-serif;
  font-weight: 500;
  height: 100%;
  letter-spacing: -0.01em;
  line-height: 1.5rem;
  padding: 20px 0;
  width: 100%;

  .background-graphics {
    .axis.axis-tick-lines {
      stroke: none;
    }
    .left.tick-line {
      stroke: $slate-20;
      stroke-width: 1px;
    }
  }

  .data-visualization {
    .axis-baseline.y {
      stroke: none;
    }

    .axis-label {
      fill: $slate-80;
    }
  }

  .foreground-graphics {
    transform: translate(0, 1.5rem);

    .ordinal-labels {
      fill: $slate-80;
    }
  }
}

.VitalsSummaryTooltip {
  @include chart-tooltip;

  &__Date {
    opacity: 0.8;
    font: $font-ui-sans-14;
  }

  &__Value {
    font: $font-ui-sans-16;
  }
}
