.MultiSelect {
  flex-grow: 1;

  &__value-container {
    white-space: nowrap;
    flex-wrap: nowrap !important;
  }
  &__option {
  }
  &__group-heading {
    padding-bottom: 8px;
  }

  &__checkbox-container {
    display: block;
    position: relative;
    padding-left: 30px;
    padding-right: 0;
    margin-bottom: 0;
    margin-left: -8;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &__checkbox-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &__checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #d2d8d8;
    background-color: transparent;
    border-radius: 0.25rem;
    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 8px;
      top: 4px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .MultiSelect__option--is-focused & {
      background-color: rgba(0, 108, 103, 0.2);
      border: none;
    }

    .MultiSelect__checkbox-input:checked ~ & {
      background-color: #006c67;
      border: none;
    }
    .MultiSelect__checkbox-input:checked ~ &:after {
      display: block;
    }
  }

  &--summing-option-selected {
    .MultiSelect__clear-indicator {
      display: none;
    }
  }
}
div.MultiSelect {
  max-height: 40px;
  max-width: 210px;
  flex-grow: 1;
  &__clear-indicator {
    display: none;
  }
  div.MultiSelect__control {
    border-radius: 1.5rem;
    &--menu-is-open {
      border-radius: 1.5rem 1.5rem 0 0;
      transition: unset;
    }
    div.MultiSelect__value-container {
      justify-content: center;
    }
  }
  div.MultiSelect__menu {
    margin: 0;
    border-radius: 0 0 1.5rem 1.5rem;
    overflow-y: hidden;

    &-list div:first-child {
      padding-top: none;
    }
    &-list::-webkit-scrollbar {
      display: none;
    }
    div.MultiSelect__option {
      &--is-selected {
        background-color: unset;
        color: unset;
      }
      &--is-focused {
        background-color: #e3e6e6;
      }
    }
  }
}
