@import "../../assets/styles/spec/settings/baseColors.scss";
.Core-Select {
  flex-grow: 1;
  font-size: 0.8em;
  font-weight: 500;
  color: #00413e;

  &__control {
    border: 1px solid #d2d8d8 !important;
    box-shadow: none !important;
    border-radius: 15px !important;
    background-color: inherit !important;

    &:hover {
      border-color: #d2d8d8 !important;
    }

    &--menu-is-open {
      border-bottom-right-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
  }

  &__menu {
    margin: 0 !important;
    border: 1px solid #d2d8d8;
    box-shadow: none !important;
    border-radius: 0px 0px 15px 15px !important;
    border-top: none !important;
    background-color: $core-background !important;
  }

  &__option {
    &--is-multi {
      background-color: transparent !important;
    }

    &--is-focused {
      background-color: inherit !important;
    }

    &--is-selected {
      background-color: #006c67 !important;
      color: white !important;
    }

    &:active,
    &:hover {
      background: #e3e6e6 !important;
      color: #00413e !important;
    }
  }

  &__group {
    margin-left: 20px;
  }

  &__value-container {
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $core-font-color !important;
  }
  &__single-value{
    color: $core-font-color !important;
  }
  &__custom-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
  }

  &__custom-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: #014c48 transparent transparent transparent;
  }
}
