.Chip {
  $color1: #265880;
  $color2: white;

  display: inline-flex;
  align-items: center;
  height: 26px;
  border: 1px solid $color1;
  background-color: $color2;
  padding-right: 14px;
  border-radius: 24px;
  margin-right: 10px;
  width: auto;
  vertical-align: middle;
  line-height: 1;

  &--selected {
    background-color: $color1;
  }

  &--shrinking {
    height: 28px;
    border-radius: 13px;
  }

  &__label {
    padding-left: 14px;
    margin: 0;
    color: $color1;
    font-size: 12px;
    line-height: 26px;
    font-weight: 600;
    border: none;
    background-color: transparent;

    &:focus {
      outline: none;
    }

    .Chip--selected & {
      color: $color2;
    }

    .Chip--shrinking & {
      line-height: 18px;
    }
  }

  &__delete-button {
    margin-left: 4px;
    margin-top: 2px;
    border: none;
    background: transparent;
    color: $color1;
    vertical-align: middle;
    line-height: 1;

    .Chip--selected & {
      color: $color2;
    }

    .Chip--shrinking & {
      margin-top: 0;
    }
  }
}
