@import "../assets/styles/spec/settings/baseColors.scss";
.FiltersBar {
  background-color: $core-background;
}
.filters {
  display: flex;
  font-weight: 400;
  padding-right: 20px;
  padding-left: 20px;

  &__filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    &-title {
      white-space: nowrap;
      margin-right: 20px;
      font-size: 16px;
      color: #5d747e;
      letter-spacing: 0.49px;
      line-height: 21px;
    }
  }

  &__select {
    width: 100%;
  }

  #metricTypeFilter {
    width: 215px;
    margin-top: 8px;
  }

  #supervisionTypeFilter {
    flex-grow: 1;
  }

  #metricPeriodFilter {
    flex-grow: 1;
  }

  #districtFilter {
    flex-grow: 0;
  }
}
