@import "../assets/styles/spec/settings/index";
@import "./CoreConstants";

.PageTemplate {
  background: $core-background;
  padding-left: 13.5rem;
  padding-right: 13.5rem;

  @media screen and (max-width: $core-breakpoint-lg) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @media screen and (max-width: $core-breakpoint-md) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
